{% extends "create_order/base_create_order.html" %}

{% block content %}
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Просто страница</br>
                    <small>Заменю её на что-то более адекватное</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                Заказ можно оформить <a href="/order/">по ссылке</a>

            </div>
            <div class="col-md-1"></div>
        </div>
{% endblock %}
